@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<form action="/Equipe/Atualiza/@ViewBag.Equipe.Id" method="post">

    <label for="nomeEquipe">Nome: </label>
    <input id="nomeEquipe" value="@ViewBag.Equipe.NomeEquipe" name="nomeEquipe" class="form-control" />

    <input class="btn btn-primary" type="submit" value="Atualizar" />

</form>