<h3 class="form- active">Cadastrar Equipe</h3>
<div>
    <form action="/Equipe/Adiciona" method="post">
        <label for="nomeEquipe">Equipe:</label>
        <input type="text" name="nomeEquipe" id="nomeEquipe" class="form-control" />
        <br />
        @*<label for="gestorId">Gestor:</label>
        <input type="checkbox" name="gestorId" id="gestorId" class="form-group-sm" />
        <br />*@
        <input type="submit" value="Cadastrar" />

    </form>
</div>
