@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<h2>Lista de Equipes do sistema.</h2>

<label class="text-uppercase">Pesquisar conselhos</label>
<input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome do conselho">
<label style="opacity:0;">conselho</label>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome da Equipe</th>
            <th>Nome do Gestor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipe in ViewBag.Equipe)
        {
            <tr class="busca">
                <td>@equipe.Id</td>
                <td class="info-nome">@equipe.NomeEquipe</td>
                @*<td>@equipe.Gestor.Funcionario.TipoPerfil</td>*@
                <td>
                    <a class="btn btn-primary" href="Alterar/@equipe.Id">Atualizar</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="Remover/@equipe.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<td>
    <a class="btn btn-primary" href="Form/">Adicionar</a>
</td>

<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>