<h3 class="form- active">Cadastrar Licenca</h3>
<div>
    <form action="/Licenca/Adiciona" method="post">
        <label for="chave">Chave:</label>
        <input type="text" name="chave" id="chave" class="form-control" />
        <br />
        <label for="quantidade">Quantidade:</label>
        <input type="text" name="quantidade" id="quantidade" class="form-control" />
        <br />
        <label for="softwareId">SoftwareId:</label>
        <input type="text" name="softwareId" id="softwareId" class="form-control" />
        <br />
        <label for="usuarioId">UsuarioId:</label>
        <input type="text" name="usuarioId" id="usuarioId" class="form-control" />
        <br />
        <input type="submit" value="Cadastrar" />

    </form>
</div>
