
<h2>O que e o sistema?</h2>
<h4>A ideia é que se algum desenvolvedor precisar usar uma ferramenta de licenças limitadas e não tiver acesso, ele possa consultar em algum lugar alguém que não esteja utilizando e comunicar com o gestor para emprestar a licença, informando quanto tempo (em média) ele ficará com a licença.</h4>
<h4>Por fim, sabendo de quem ele retirará a licença, basta a TI fazer a troca. Isso poupará tempo da TI em ficar procurando quem não está utilizando a ferramenta e também evitará que a licença de alguém seja retirada indevidamente.</h4>
