
@{
    Layout = null;
}

@model Projeto02.Models.Usuario
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title MDL</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/Content/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/Content/demo/demo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style type="text/css">
        #alinhar {
            width: 40%;
            position: absolute;
            text-align: center;
            margin-top: 10px;
            margin-left: 400px;
            padding: 100px 100px;
        }
    </style>

</head>
<body class="dark-edition modal-dialog-centered">
    <div class="card text-center" id="alinhar">
        @Html.ValidationSummary(true)
        <h3 class="form- active">Cadastrar Usuarios</h3>
        <div>
            <form action="/Usuario/Adiciona" method="post">
                <label for="login">Login:</label>
                <input type="text" name="Usuario.Login" id="login" class="form-control" />


                <label for="senha">Senha:</label>
                <input type="password" name="Usuario.Senha" id="senha" class="form-control" />

                <label for="codigoVerificacao">Codigo Verificacao:</label>
                <input type="number" maxlength="10" max="2147483647" name="Usuario.CodigoVerificacao" id="codigoVerificacao" class="form-control" />
                @Html.ValidationMessageFor(model => model.CodigoVerificacao)
                <br /><br />
                <input class="btn btn-primary" type="submit" value="Cadastrar" />

            </form>
        </div>
    </div>
</body>
</html>