<h3 class="form- active">Cadastrar Usuarios</h3>
<div>
    <form action="/Usuario/Adiciona" method="post">
        <label for="login">Login:</label>
        <input type="text" name="Usuario.Login" id="login" class="form-control" />


        <label for="senha">Senha:</label>
        <input type="password" name="Usuario.Senha" id="senha" class="form-control" />

        <label for="codigoVerificacao">Codigo Verificacao:</label>
        <input type="text" name="Usuario.CodigoVerificacao" id="codigoVerificacao" class="form-control" />

        <input class="btn btn-primary" type="submit" value="Cadastrar" />

    </form>
</div>
