@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<td>
    <a class="btn btn-primary pull-right" href="Form/">Adicionar</a>
</td>

<h2>Lista de Usuarios do sistema.</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Funcionario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in ViewBag.Usuario)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Login</td>
                <td>***********</td>
                <td>@usuario.Funcionario.Nome</td>
                <td>
                    <a class="btn btn-primary" href="Usuario/Remover/@usuario.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>