@model Projeto02.Models.Software

@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<form action="/Software/Atualiza/@ViewBag.Software.Id" method="post">

    <label for="NomeSoftware">Nome: </label>
    <input id="NomeSoftware" value="@ViewBag.Software.NomeSoftware" name="NomeSoftware" class="form-control" />

    <label for="Versao">Versao: </label>
    <input id="Versao" value="@ViewBag.Software.Versao" name="Versao" class="form-control" />

    <input class="btn btn-primary" type="submit" value="Atualizar" />

</form>