
    <form action="/Software/Atualiza/@ViewBag.Software.Id" method="post">

        <label for="nome">Nome: </label>
        <input id="nome" value="@ViewBag.Software.Nome" name="nome" class="form-control" />

        <label for="versao">Versao: </label>
        <input id="versao" value="@ViewBag.Software.Versao" name="versao" class="form-control" />

        <input class="btn btn-primary" type="submit" value="Atualizar" />

    </form>