<h3 class="form- active">Cadastrar Software</h3>
<div>
    <form action="/Software/Adiciona" method="post">
        <label for="NomeSoftware">Nome:</label>
        <input type="text" name="NomeSoftware" id="NomeSoftware" class="form-control" />
        <br />
        <label for="versao">Versão:</label>
        <input type="text" name="versao" id="versao" class="form-control" />
        <br />
        <input class="btn btn-primary" type="submit" value="Cadastrar" />

    </form>
</div>
