@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<h2>Lista de Software do sistema.</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Software</th>
            <th>Versão</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var software in ViewBag.Software)
        {
            <tr>
                <td>@software.Id</td>
                <td>@software.NomeSoftware</td>
                <td>@software.Versao</td>
                <td>
                    <a class="btn btn-primary" href="Alterar/@software.Id">Atualizar</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="Remover/@software.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<td>
    <a class="btn btn-primary" href="Form/">Adicionar</a>
</td>