@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
<td>
    <a class="btn btn-primary pull-right" href="Form/">Adicionar</a>
</td>
<h2>Lista de Software do sistema.</h2>

<label class="text-uppercase">Pesquisar da licença</label>
<input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome licença">
<label style="opacity:0;">conselho</label>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Software</th>
            <th>Versão</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var software in ViewBag.Software)
        {
            <tr class="busca">
                <td>@software.Id</td>
                <td class="info-nome">@software.NomeSoftware</td>
                <td>@software.Versao</td>
                <td>
                    <a class="btn btn-primary" href="Alterar/@software.Id">Atualizar</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="Remover/@software.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>
