@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<div>
    <h1>Cargo adicionado com sucesso</h1>

    <a class="nav-link" href="/Home/Adm">
        <p class="btn btn-primary">Voltar para a lista</p>
    </a>

</div>