@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}

<form action="/Cargo/Atualiza/@ViewBag.Cargo.Id" method="post">

    <label for="nomeCargo">Nome: </label>
    <input id="nomeCargo" value="@ViewBag.Cargo.NomeCargo" name="nomeCargo" class="form-control" />

    <input class="btn btn-primary" type="submit" value="Atualizar" />

</form>