<h3 class="form- active">Cadastrar Cargo</h3>
<div>
    <form action="/Cargo/Adiciona" method="post">
        <label for="nomeCargo">Nome:</label>
        <input type="text" name="nomeCargo" id="nomeCargo" class="form-control" />
        <br />
        <input type="submit" value="Cadastrar" />

    </form>
</div>
