@{
    Layout = "~/Views/Shared/_AdmLayout.cshtml";
}
    <td>
        <a class="btn btn-primary pull-right" href="Form/">Adicionar</a>
    </td>
<h2>Lista de Cargos do sistema.</h2>

<label class="text-uppercase">Pesquisar cargo</label>
<input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome do cargo">
<label style="opacity:0;">conselho</label>
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Cargo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in ViewBag.Cargo)
        {
            <tr class="busca">
                <td>@cargo.Id</td>
                <td class="info-nome">@cargo.NomeCargo</td>
                <td>
                    <a class="btn btn-primary" href="Alterar/@cargo.Id">Atualizar</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="Remover/@cargo.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>