
@{
    Layout = null;
}

@model Projeto02.Models.Usuario

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title MDL</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="~/Content/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/Content/demo/demo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />


    <style type="text/css">
        #alinhar {
            width: 40%;
            position: absolute;
            text-align: center;
            margin-top: 10px;
            margin-left: 400px;
            padding: 100px 100px;
        }

        form {
            display: inline-block;
            position: relative;
        }

        .card {
            border: 0;
            margin-bottom: 30px;
            margin-top: 30px;
            border-radius: 6px;
            color: #fa0303;
            background: #fff;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    </style>

</head>
<body class="dark-edition modal-dialog-centered">
    @Html.ValidationSummary(true)
    <div class="card text-center" id="alinhar">
        <form action="/Login/Autenticacao/" method="post">
            <h3 class="mb-3">Logar</h3>

            <label for="login">Login:</label>
            <input type="text" name="login" id="login" class="form-control" required="" />
            @Html.ValidationMessageFor(model => model.Login)

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" class="form-control" required="" />
            @Html.ValidationMessageFor(model => model.Senha)
            <br /><br />

            <input class="btn btn-primary" type="submit" value="Logar" />

            <a class="btn btn-primary" href="Usuario/Form/">Novo Usuario</a>
        </form>
    </div>
</body>
</html>